## Working with Databases in Python

In [1]:
# Connecting to SQLite Database
import sqlite3

In [ ]:
# connection String
conn = sqlite3.connect("my_database.db")
cursor=conn.cursor()
print("connected with sqlite")

connected with sqlite

In [4]:
cursor.execute('''create table if not exists 
               employees (
                   id integer primary key,
                   name text not null,
                   age integer,
                   department text )''')

conn.commit()

In [ ]:
# insert/create
cursor.execute("insert into employees (id,name,age,department) values (?,?,?,?)",(1,"gopi",32,"it"))
conn.commit()

In [6]:
# retive /read 
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'gopi', 32, 'it')

In [7]:
# update 
cursor.execute("update employees set age = ? where name = ?",(31,"gopi"))
conn.commit()

In [8]:
# retive /read 
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'gopi', 31, 'it')

In [9]:
# insert/create
cursor.execute("insert into employees (id,name,age,department) values (?,?,?,?)",(2,"siva",35,"it"))
conn.commit()

In [10]:
# retive /read 
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'gopi', 31, 'it')
(2, 'siva', 35, 'it')

In [15]:
# delete 
cursor.execute("delete from employees where name = ?",("gopi",))
conn.commit()

In [16]:
# retive /read 
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'siva', 35, 'it')

In [3]:
import pyodbc

In [4]:
# Define connection parameters
server = 'HEMANTHHEMU'  # Example: 'localhost\\SQLEXPRESS'
database = 'python'
username = 'sa'  # If using SQL authentication
password = 'Hemu@1996'  # If using SQL authentication

# Establish connection
conn = pyodbc.connect(f'DRIVER={{SQL Server}};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      f'UID={username};'
                      f'PWD={password}')

cursor1 =conn.cursor()

In [9]:
cursor1.execute('''create table 
               employees (
                   id integer ,
                   name text not null,
                   age integer,
                   department text )''')

conn.commit()

In [12]:
# insert/create
cursor1.execute("insert into employees (id,name,age,department) values (?,?,?,?)",(1,"gopi",32,"it"))
cursor1.execute("insert into employees (id,name,age,department) values (?,?,?,?)",(2,"siva",35,"it"))
cursor1.execute("insert into employees (id,name,age,department) values (?,?,?,?)",(3,"kasi",25,"prd"))
conn.commit()

In [14]:
cursor1.execute("select * from employees")
rows = cursor1.fetchall()
for row in rows:
    print(row)

(1, 'gopi', 32, 'it')
(2, 'siva', 35, 'it')
(1, 'gopi', 32, 'it')
(2, 'siva', 35, 'it')
(3, 'kasi', 25, 'prd')
(1, 'gopi', 32, 'it')
(2, 'siva', 35, 'it')
(3, 'kasi', 25, 'prd')